<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chen.app.nfc.rock"
    android:versionCode="1"
    android:versionName="1.0" >
    
   <uses-permission android:name="android.permission.NFC" />
   
    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="15" />

    <application 
        android:theme="@android:style/Theme.NoTitleBar">
        <activity
            android:name=".RockPSActivity"
            android:label="@string/title_activity_rock_ps" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
                
            </intent-filter>
        </activity>
    </application>

</manifest>